*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  font-weight: normal;
}

.container {
  padding: 0 40px;
  max-width: 1280px;
  margin: 0 auto;
}

.burger {
  display: none;
}

.title {
  font-weight: 500;
  color: var(--VeryDarkBlue);
}

.sub-title {
  color: var(--GrayishBlue);
  line-height: 28px;
}

.logo {
  z-index: 100;
  cursor: pointer;
}

.btn {
  cursor: pointer;
  padding: 15px 25px;
  border-radius: 8px;
  text-decoration: none;
  border: 2px solid transparent;
  background: transparent;
  transition: all 0.3s ease-in-out;
}

.header {
  padding: 40px 0;
}

img {
  max-width: 100%;
  object-fit: cover;
}

body.overflow-hidden {
  overflow: hidden;
}
